log/*.log
db/*.sqlite3
config/api_keys.yml
config/database.yml
config/initializers/api_keys.yml
config/virtual_hosts/development.conf
public/javascripts/cache/
public/stylesheets/cache/
test/fixtures
tmp
.DS_Store
*/.DS_Store
