/* TYPOGRAPHY */
body  {
	font-size: 12px;
	font-family: Arial, "Helvetica Neue", Geneva, sans-serif;
	line-height: 160%;
}

#navbar, #main, #footer { font-size: 1.5em; }

h1 { font-size: 2em; font-weight: bold; }
h2, legend { font-size: 1.8em; font-weight: bold; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; }
h5 { font-size: 1.225em; }

a       { text-decoration: none; }
a:hover { text-decoration: underline; }

/*
  COLORS
  
  light green: #91b24f
  dark blue:   #083c71
  medium blue: #035d92
  light blue:  #68b8e7
  grey:        #dddddd
*/

html, body { background-color: #035d92; color: #dddddd; }
#navbar { background-color: #083c71; }
#navbar a { color: #68b8e7; }
#main a, #footer a { color: #a1c658; }
form .inline-errors { color: red; }

/* LAYOUT */
#navbar { display: block; text-align: right; padding: 1em; }
#navbar li { display: inline; padding: 1em; }
#main { padding: 2em; }
#footer { clear:both; text-align: center; }

.calendar { padding-left: 20px; }

h1, h2, h3, h4, h5, h6, legend { padding-top: 1em; padding-bottom: 1em; }

form fieldset + fieldset, form li + li { margin-top: 1.5em; }
form div.fieldWithErrors + div.fieldWithErrors { margin-top: 0; }
form label, form input, form select, form textarea {
  display: block;
}
form label { margin-bottom: 0.25em; }
form .inline-errors, form .inline-hints { margin-top: 0.25em; }

/* images, icons, backgrounds */
.calendar {
  background-image: url("/images/silk/calendar.png");
  background-repeat: no-repeat;
  background-position: 0 center;
}