/* TYPOGRAPHY */

@font-face {
  font-family: Museo;
  font-weight: 500;
  src: url('/fonts/Museo500-Regular.otf');
}

body  {
  font-size: 12px;
  font-family: Arial, "Helvetica Neue", Geneva, sans-serif;
  line-height: 160%;
}

header, #main, footer { font-size: 1.5em; }

nav, h1, h2, h3, h4, h5, h6, legend, .current_user {
  font-family: Museo, Sylfaen, Cambria, "Times New Roman", serif;
  text-shadow: 1px 1px 1px #000;
}

h1 { font-size: 2em; font-weight: bold; }
h2, legend { font-size: 1.8em; font-weight: bold; }
h2 span + a { font-size: 0.6em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; }
h5 { font-size: 1.225em; }

a                              { text-decoration: none; }
a:hover, a:focus               { border-bottom: 1px solid; outline: none; }
header a:hover, header a:focus { border-bottom-width: 2px; }
form.inline button:hover span,
form.inline button:focus span  { border-bottom: 1px solid; }

dl dt       { font-size: 1.225em; }

p, div.p { line-height: 1.5em; }

.welcome { text-align: center; }
.welcome .logo img { width: 22em; }

/*
  COLORS
  
  light green: #91b24f
  dark blue:   #083c71
  medium blue: #035d92
  light blue:  #68b8e7
  grey:        #dddddd
*/

html, body { background-color: #035d92; color: #dddddd; }
h1, h2, h3, h4, h5, h6, legend { color: #dddddd; }
header { background-color: #083c71; }
header a { color: #68b8e7; }
#main a, .sidebar a, footer a { color: #91b24f; }
form .inline-errors { color: red; }
form input, form select, form textarea {
  background-color: #dddddd;
  border-color: #083c71;
  background: -moz-linear-gradient(top, #ddd, #777 0px, #ddd 3px);
  background: -webkit-gradient(linear, left top, left 3, from(#777), to(#ddd));
  box-shadow:         rgba(0, 0, 0, 0.1) 4px 4px 4px;
  -moz-box-shadow:    rgba(0, 0, 0, 0.1) 4px 4px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 4px 4px 4px;
}
form input:focus, form select:focus, form textarea:focus {
  border-color: #91b24f;
  background: -moz-linear-gradient(top, #ddd, #555 0px, #ddd 5px);
  background: -webkit-gradient(linear, left top, left 3, from(#555), to(#ddd));
  box-shadow:         rgba(0, 0, 0, 0.3) 4px 4px 4px;
  -moz-box-shadow:    rgba(0, 0, 0, 0.3) 4px 4px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 4px;
}

/* LAYOUT */
header {
  border-top: 1px solid #042464;
  border-bottom: 1px solid #042464;
  display: block;
  text-align: right;
  padding: 0.5em 4%;
  width: 92%;
}

  header > div.tr { display: table-row; width: 100%; padding: 0; }
    header > div > * { display: table-cell; width: 33.33%; padding: 0; margin: 0; }
  
  header h1 { text-align: left; }
    header h1 > * { vertical-align: middle; }
    header h1 img { height: 2em; }

  header .current_user { text-align: center; }
  
  header nav { text-align: right; }
    header nav ul li, header nav > span { display: inline; }
    header nav ul li { margin: 0 0.8em; }

body.js #flash {
  background: #035d92;
  font-size: 1.1em;
  line-height: 1.2em;
  margin: 0 15%;
  position: absolute;
  top: 0;
  width: 70%;
  z-index: 99;
}

  body.js #flash + * { margin-top: 0; }

  body.js #flash li {
    border: 3px solid;
    display: block;
    padding: 0.4em;
  }
  
    body.js #flash li span {
      display: inline-block;
      margin: 0;
      padding: 0;
      width: 95%;
    }
  
    #flash li .close { display: none; }
    body.js #flash li .close {
      display: inline-block;
      margin: 0;
      padding: 0;
      width: 5%;
    }
    body.js #flash li .close:hover, body.js #flash li .close:focus {
      border: 0;
      color: #ddd;
    }
  
    body.js #flash li + li { border-top: 0; }

#main {
  border-top: 1px solid #1066a0;
  min-height: 20em;
  padding: 2em;
}

  #main > * + *,
  #main form legend + fieldset { margin-top: 1em; }

footer {
  clear:both;
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

  footer span { margin: 0 0.8em; }

h2, h3, h4, h5, h6, legend { padding-bottom: 0.2em; }
h2 span, h3 span, h4 span, h5 span, h6 span {
  display: inline-block;
  margin-bottom: 0.2em;
}
* + h2, * + h3, * + h4, * + h5, * + h6, * + form legend {
  padding-top: 0.5em;
}

dl dt + dd  { margin-top: 0.275em; }
dl dd + dt  { margin-top: 1em; }

form fieldset + fieldset, form li + li { margin-top: 1.5em; }

form div.fieldWithErrors + div.fieldWithErrors { margin-top: 0; }

form label, form input, form select, form textarea {
  display: block;
}

form input[type="submit"], form input.submit, form button {
  display: inline;
  margin: 0 2em;
  cursor: pointer;
}

form input, form select, form textarea {
  border-width: 2px;
  border-style: solid;
  outline: none;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  padding: 6px;
}

form label { margin-bottom: 0.25em; }

form .inline-errors, form .inline-hints { margin-top: 0.25em; }

form.inline, form.inline div, form.inline input, form.inline span { display: inline; }
form.inline button {
  background: inherit;
  border: none;
  color: #91b24f;
  display: inline;
  margin: 0;
  padding: 0;
}

.calendar { padding-left: 20px; }
ul.calendars { margin-top: 0.5em; }

li.calendar + li.calendar { margin-top: 0.5em; }

ul.calendars li.calendar {
  background-position: left 0.3em;
  background-repeat: no-repeat;
  min-height: 24px;
  padding-top: 4px;
}
ul.calendars li.calendar > *    { vertical-align: top; }
ul.calendars li.calendar > span { display: inline-block; margin-top: 0.1em; }

.calendar.aggregate {
  background-position: 0.5em 0.6em;
  padding: 0.5em 1.6em;
  border: 2px solid;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}

/* images, icons, backgrounds */
.calendar, .calendar.add, footer .mail, footer .twitter {
  background-repeat: no-repeat;
  background-position: 0 center;
}

.calendar {
  background-image: url("/images/silk/calendar.png");
}

body.js #flash .calendar { background-image: none; }

.calendar.add {
  background-image: url("/images/silk/calendar_add.png");
}

footer .mail {
  background-image: url("/images/silk/email.png");
  padding-left: 20px;
}

footer .twitter {
  background-image: url("/images/social.me/twitter.png");
  min-height: 36px;
  padding-left: 28px;
}
