API_KEYS = {
  :twitter => {
    :consumer_key     => 'DayMash Twitter Consumer Key',
    :consumer_secret  => 'DayMash Twitter Consumer Secret'
  },
  :rpx => 'DayMash RPXNow API Key'
}

if defined?(:RPXNow)
  RPXNow.api_key = API_KEYS[:rpx]
end
