API_KEYS = {
  :twitter => {
    :consumer_key     => 'DayMash Twitter Consumer Key',
    :consumer_secret  => 'DayMash Twitter Consumer Secret'
  },
  :rpx => 'DayMash RPXNow API Key'
}

if Rack.const_defined?(:Rpx) && Rack::Rpx.const_defined?(:OPTIONS)
  Rack::Rpx::OPTIONS[:api_key] = API_KEYS[:rpx]
end
