API_KEYS = {
  :twitter => {
    :consumer_key     => 'DayMash Twitter Consumer Key',
    :consumer_secret  => 'DayMash Twitter Consumer Secret'
  },
  :rpx => 'DayMash RPXNow API Key',
  :facebook => {
    :application_id   => '400227291479',
    :api_key =>          'f1fe0789a300f7edaeb2234f3bccc2de',
    :secret           => 'DayMash Facebook Secret',
  }
}

if defined?(:RPXNow)
  RPXNow.api_key = API_KEYS[:rpx]
end
