- semantic_form_for user do |form|
  %fieldset
    %legend= legend
    - form.inputs do
      = form.input :email, :as => 'email'
      = form.input :display_name, :required => false
  %fieldset
    %div
      = form.submit submit
