postgresql: &POSTGRESQL
  adapter: postgresql
  encoding: unicode
  min_messages: warning

development:
  <<: *POSTGRESQL
  database: daymash_development

test:
  <<: *POSTGRESQL
  database: daymash_test
  
cucumber:
  <<: *POSTGRESQL
  database: daymash_test
  
staging:
  <<: *POSTGRESQL
  database: daymash_staging
  
production:
  <<: *POSTGRESQL
  database: daymash_production
