sqlite3: &SQLITE
  adapter: sqlite3
  pool: 5
  timeout: 5000

development:
  <<: *SQLITE
  database: db/development.sqlite3

test:
  <<: *SQLITE
  database: db/test.sqlite3

mysql: &MYSQL
  adapter: mysql
  encoding: utf8
  username: deploy
  password: 
  socket: /tmp/mysql.sock

staging:
  <<: *MYSQL
  database: daymash_staging

production:
  <<: *MYSQL
  database: daymash_staging
