%h2= t '.title'
%ul{:class => 'calendars'}
  - @user.calendars.each do |calendar|
    %li{:class => 'calendar'}
      %span{:title => calendar.uri}= calendar.title
.add.calendar
  = link_to t('.add_calendar'), new_user_calendar_path(:user_id => :current)
