- semantic_form_for [current_user, @calendar] do |form|
  %fieldset
    %legend= t('.form.legend')
    - form.inputs do
      = form.input :uri
      = form.input :title
  %fieldset
    %div
      = form.submit t('.form.submit')
