%ul{ :id => 'navbar' }
  %li{ :class => 'sign_up' }
    %a{ :href => '#', :title => t('navigation.sign_up') }
      = t('navigation.sign_up')
  %li{ :class => 'sign_in' }
    %a{ :href => '#', :title => t('navigation.sign_in') }
      = t('navigation.sign_in')
