%footer
  %p
    = t('footer.authors', :james => link_to('James Rosen', 'http://jamesarosen.com', :title => t('footer.james_blog_title')))
    = link_to(t('footer.bug'), 'http://github.com/jamesarosen/daymash/issues', :title => t('footer.bug_title')) + '.'
    = t('footer.follow_me', :handle => link_to('@DayMash', 'http://twitter.com/daymash'))
