%header
  .tr
    %h1
      = image_tag 'live_sun.png', :alt => 'Half Live Sun', :title => 'Half Live Sun'
      %span= DayMash
    - if signed_in?
      %span{ :class => 'current_user' }
        = t('navbar.site.signed_in_as', :current_user => current_user)
    = site_nav_bar
